.header-container,
.herovideoblock,
.footer-container {
  display: none !important;
}

*,
*:before,
*:after {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid !important;
  page-break-after: avoid !important;
}

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
  overflow: hidden;
}

img {
  max-width: 100% !important;
}

@page {
  margin: 0.5cm;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

*[class*="col-"] {
  width: 100% !important;
}

*[class*="span-"] {
  width: 100% !important;
}
