.pods
  height: 300px
  display: flex
  justify-content: center
  margin-top: 50px
  padding-bottom: 150px
  border-bottom: 1px solid #fff

  .pod
    background-color: #fff
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75)
    color: $primary
    .img
      position: relative
      img
        width: 100%
        min-height: 210px
      .small-cta
        position: absolute
        width: 40px
        height: 40px
        bottom: 6px
        right: 0
    p, h4,
      padding: 0px 25px 0px 25px
      margin-bottom: 10px
    .tags
      padding-left: 25px
      padding-bottom: 15px
      a
        margin-right: 5px
        border-right: 1px solid $primary
        padding-right: 5px
        color: $primary
        text-transform: uppercase
        font-size: 8px
        &:last-of-type
          border-right: 0px solid $primary
    h4
      a
        color: $primary
        text-decoration: underline
        font-size: 12px
