.pods
  .wrap
    .row
      .col.four.pod
        .img 
          img(src="http://placehold.it/350x150", alt="alt")
          .small-cta.weights-BG
        h4
          a(href="blog.html") Purple Rain
        p I never meant to cause you any sorrow, I never meant to cause you any pain lorem
        .tags
          a(href="#") link
          a(href="#") link
      .col.four.pod
        .img 
          img(src="http://placehold.it/350x150", alt="alt")
          .small-cta.stamina-BG
        h4
          a(href="#") Purple Rain
        p I only wanted to one time to see you laughing, I only wanted to see you
        .tags
          a(href="#") link
          a(href="#") link
      .col.four.pod
        .img 
          img(src="http://placehold.it/350x150", alt="alt")
          .small-cta.sport-BG
        h4
          a(href="#") Purple Rain
        p Laughing in the purple rain
        .tags
          a(href="#") link
          a(href="#") link
          a(href="#") link
          a(href="#") link
          a(href="#") link
          a(href="#") link
