section.second_pods
  .wrap
    .row
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.weights-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.stamina-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.sport-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.weights-BG
    .row
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.stamina-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.sport-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.weights-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.weights-BG
        
