@import "0-tools/normalize"
@import "1-base/vars"
@import "1-base/fonts"
@import "1-base/base"
@import "1-base/grid"
.weights-BG
  background-color: $weights
.stamina-BG
  background-color: $stamina
.sport-BG
  background-color: $sport
#top
  height: 620px
  width: 100%
  background:
    color: $primary
@import "2-sections/top/header.sass"
@import "2-sections/top/nav.sass"
@import "2-sections/top/pods.sass"
