@import "0-tools/normalize"
@import "1-base/vars"
@import "1-base/fonts"
@import "1-base/base"
@import "1-base/grid"
.weights-BG
  background-color: $weights
.stamina-BG
  background-color: $stamina
.sport-BG
  background-color: $sport
#top
  min-height: 520px
  width: 100%
  background:
    color: $primary
//SHARED
@import "2-sections/shared/header.sass"
@import "2-sections/shared/nav.sass"
@import "2-sections/shared/footer.sass"
//HOME
@import "2-sections/home/pods.sass"
@import "2-sections/home/second_pods.sass"
//BLOG
@import "2-sections/blog/title.sass"
@import "2-sections/blog/content.sass"
// Article list
@import "2-sections/articles/list.sass"
//about
@import "2-sections/about/about.sass"
//faq
@import "2-sections/faq/questions.sass"
//contact
@import "2-sections/contact/main.sass"
