header
  .header-position
    h1.logo SG
    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#knowledge") Knowledge/Skills
        li: a(href="#education") Education
        li: a(href="#work") Work
        li: a(href="#clients") Clients
        li: a(href="#portfolio") Portfolio
        li: a(href="#hobbies") Hobbies
        li: a(href="#contact") Contact
    a(href="mailto:sam.gray22@gmail.com").email-link +email me
