section.list
  .wrap
    .row
      .col.twelve
        a(href="blog.html")
          .article
            h2 Purple Rain
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
            
    .row
      .col.twelve
        a(href="#")
          .article
            h2 Purple Rain
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
    .row
      .col.twelve
        a(href="#")
          .article
            h2 Purple Rain
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
    .row
      .col.twelve
        a(href="#")
          .article
            h2 Purple Rain
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
    .row
      .col.twelve
        a(href="#")
          .article
            h2 Purple Rain
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
