header
  border-bottom: 1px solid #43434f
  .left
    display: inline-block
    margin-top: 50px
    margin-bottom: 50px
    .logo
      img
        width: 100%
  .right
    display: inline-block
    float: right
    margin-top: 50px
    color: #fff
    margin-bottom: 50px
    .social
      display: flex
      .GP,
      .FB,
      .TW,
        width: 40px
        height: 40px
      .GP
        background:
        background:
          color: #ff0000
          image: url(../img/gplus.png)
          size: cover
          position: center
      .FB
        background:
          color: #0054a6
          image: url(../img/facebook.png)
          size: cover
          position: center

      .TW
        background:
          color: #6dcff6
          image: url(../img/twitter.png)
          size: cover
          position: center
      .follow
        height: 40px
        border-radius: 0
        color: #fff
        border: none
        width: 150px
        background: #6945a0
        text-align: center
        text-transform: uppercase
        line-height: 40px
        transition: all 0.3s ease-in-out
        &:hover
          background-color: #fff
          color: #6945a0
    .search
      margin-left: 20px
      border: 1px solid #43434f
      width: 38px
      height: 38px
      cursor: pointer
      background:
        image: url(../img/search.png)
        size: 25px
        repeat: no-repeat
        position: center
