section.about
  .row
    padding: 25px 0
  .pod
    padding: 10px
    background-color: #fff;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3)
    width: 50%
    text-align: center
    margin: 0 auto
    img
      width: 50%;
      height: 50%
