include includes/shared/head.pug
  .wrap
    .search-popup
      input(type="text", placeholder="Your search...")
      button(type="submit")
  .main
    section#top
      include includes/shared/header.pug
      include includes/shared/nav.pug
      include includes/faq/title.pug  
    include includes/faq/questions.pug  
    include includes/shared/footer.pug
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='js/jquery.matchHeight-min.js')
  script(src='js/script.js')

    
      
