doctype
html(lang='en')
  include includes/head.pug
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='js/jquery.matchHeight-min.js')
  script(src='js/script.js')

  body
    section#top
      include includes/top/header.pug
      include includes/top/nav.pug
      include includes/pods.pug
      include includes/second_pods.pug
      include includes/footer.pug
    
      
        
