.home-cta
  background:
    color: $white
  font:
    weight: 800
  width: 100%
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4)
  transition: all 0.1s ease-in-out
  &:active
    background:
      color: $white
    color: pink
    font:
      weight: 800
    width: 100%
  &:hover
    background:
      color: pink
    color: $white
    box-shadow: 0px 4px 8px rgba(0,0,0,0.0)
