header
  .wrap
    .left
      .logo
        a(href="index.html")
          img(src="img/header-logo.png", alt="alt")
    .right
      .social
        a(href="https://plus.google.com/+Redweb").GP
        a(href="https://www.facebook.com/RedwebUK/").FB
        a(href="https://twitter.com/redweb").TW
        button.follow follow us
        .search#popup-js
