section.nav
  .wrap
    nav.catogories
        ul
          li
            a.weights(href="#") weights
          li
            a.stamina(href="#") stamina
          li
            a.sport(href="#") sport
    nav.main
        ul
          li
            a(href="index.html") Home
          li
            a(href="about.html") About
          li
            a(href="articles.html") Articles
          li
            a(href="faq.html") FAQs
          li
            a(href="contact.html") Contact
