section
  .footer-links
    height: 315px
    background-color: #828f98
    color: white
    ul
      list-style: none
      li
        margin-bottom: 20px
        h3
          margin-bottom: 40px
        a
          color: white
          text-decoration: none
