section
  .CTAs
    .container
      .grid-wrap
        .col.col-3
          h3 Lorem Ipsum
          small Lorem Ipsum Lorem Ipsum
          img(src="http://via.placeholder.com/300x185")
        .col.col-3
          h3 Lorem Ipsum
          small Lorem Ipsum Lorem Ipsum
          img(src="http://via.placeholder.com/300x185")
        .col.col-3
          h3 Lorem Ipsum
          small Lorem Ipsum Lorem Ipsum
          img(src="http://via.placeholder.com/300x185")
