section
  .newsletter 
    .container
      .grid-wrap
        .col.col-1
          h2 Always be first to know!
          h5 sign-up for our newsletter!
          form
            input(type="text") 
            button subscribe 
