section.hero
  color: $grey
  display: flex
  justify-content: space-between
  height: 500px
  padding: 0 3%
  .title
    h1
      font:
        family: sixcaps
        size: 140px
        weight: 100
      height: 155px
      text-transform: uppercase

  h3
    font-size: 40px
    font-weight: 500
    text-transform: capitalize


  .logo
    margin-top: 30px
    .outter-eye
      border-radius: 50%
      width: 143px
      height: 143px
      border: 3px solid #4b4b4b
      position: relative

    .inner-eye
      border-radius: 50%
      width: 60px
      height: 60px
      position: absolute
      background-color: rgba(75, 75, 75, 0.8)
      bottom: 10px
      left: 20px

    .inner-inner-eye
      border-radius: 50%
      width: 38px
      height: 38px
      position: absolute
      background-color: #4b4b4b
      bottom: 20px
      left: 30px
