section.info
  height: 900px
  display: flex
  justify-content: space-around
  color: $grey
  .info-text
    width: 687px
    h1
      font:
        family: sixcaps
        size: 120px
        weight: 100
      height: 155px
      text-transform: uppercase
