
//ipad-pro
@media only screen and (max-width: 1026px)
  section.video
    margin-bottom: 500px
  section.info, section.taylored
    display: flex
    flex-flow: column
    align-items: center
    justify-content: flex-start
  .taylored-text
    margin-bottom: 30px
  section.info
    height: 1200px
  section.taylored
    height: 500px
  .logo-large
    display: none
//ipad
@media only screen and (max-width: 769px)
  section.info, sec
    width: 100%
  section.video
    margin-bottom: 400px
    .videoplayer
      width: 90%
  section.info, section.taylored, section.video
    display: flex
    flex-flow: column
    align-items: center
    justify-content: flex-start
    width: 103%
  footer
    width: 103%
    flex-flow: column
    height: auto
    align-items: flex-start
    justify-content: flex-start
    padding-left: 20px
