section.taylored
  padding-top: 200px
  display: flex
  justify-content: space-around
  color: $main
  height: 330px
  .taylored-text
    width: 629px
    h1
      font:
        family: sixcaps
        size: 120px
        weight: 100
      height: 155px
      text-transform: uppercase
