body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(bg.jpeg);
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif;
}
.alert{
  padding: 20px;
  background-color: rgba(111, 111, 111, 0.8);
  border-radius: 20px;
  box-sizing: border-box;
  width: 550px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
