include 0-global/head.pug
body
  include 1-top/nav.pug
  include 1-top/hero.pug
  include 2-main/CTAs.pug
  include 2-main/newsletter.pug
  include 3-bottom/footer-links.pug
  include 3-bottom/footer.pug
  include 0-global/scripts.pug
