<section data-ng-controller="HomeController">
  <section class="list">
    <div class="page-header wrap">
      <h1>Posts</h1>
    </div>
    <div class="list-group wrap" data-ng-controller="PostsListController">
      <div class="article" ng-repeat="post in posts" ui-sref="posts.view({ postId: post._id })">
        <a class="list-group-item">
          <h2 class="list-group-item-heading" ng-bind="post.title"></h2>
          <p>{{post.body | limitTo: 200}}</p>
          <small class="list-group-item-text">
            Posted on
            <span ng-bind="post.created | date:'mediumDate'"></span>
            by
            <span ng-if="post.user" ng-bind="post.user.displayName"></span>
            <span ng-if="!post.user">Deleted User</span>
          </small>
        </a>
      </div>

    </div>
    <div class="alert alert-warning text-center" ng-if="vm.posts.$resolved && !vm.posts.length">
      No Posts yet, why don't you <a ui-sref="posts.create">create one</a>?
    </div>
  </section>
</section>
