.row
  min-height: 1px
  // float: left
  width: 100%
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both

.col
  min-height: 40px
  position: relative
  margin-left: 2.4%
  margin-right: 2.4%
  display: inline-block
  float: left
  &:first-child
    margin-left: 0px
  &:last-child
    margin-right: 0px
  &.one
    width: 3.93%
  &.two
    width: 12.66%
  &.three
    width: 21.4%
  &.four
    width: 30.13%
  &.five
    width: 38.867%
  &.six
    width: 47.6%
  &.seven
    width: 56.333%
  &.eight
    width: 65.07%
  &.nine
    width: 73.8%
  &.ten
    width: 82.533%
  &.eleven
    width: 91.27%
  &.twelve
    width: 100%

@media (max-width: 768px)
  .col
    width: 100% !important
    margin: 5px 0px 5px 0px
