section.about
  .wrap
    .row
      .col.twelve
        .pod
          img(src="http://placehold.it/350x150", alt="alt")
          h3 Sam Gray
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit
