section.about
  position: relative
  background-color: $main_red
  .particles-js-canvas-el
    position: absolute
    top: 0
  h2
    color: #3f3f42
    font:
      size: 60px
      weight: 400
    line-height: 1
    margin:
      left: -108px
      top: 0
    @media (max-width: 640px)
      margin:
        left: auto
        right: auto
      max-width: 300px
  .home-lead
    padding-bottom: 180px
    @media (max-width: 640px)
      margin:
        left: auto
        right: auto
      max-width: 300px
