<section class="wrap">
  <section class="title">
    <div class="row">
      <div class="col col-1">
        <h1 ng-bind="vm.post.title"></h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-1">
        <h4 ng-bind="vm.post.created | date:'mediumDate'"></h4>
        <span></span>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col col-1 width-override-post">
      <p ng-bind="vm.post.body"></p>
    </div>
    <div class="col col-3 sideBar">

      <h3 ng-if="vm.post.user"> Author: <a href="#">{{vm.post.user.displayName}}</a></h3>
      <h3 ng-if="!vm.post.user">Deleted User</h3>
      <p>{{vm.post.category}}</p>
      <small>{{vm.post.tags}}</small>
    </div>
  </div>
  <div class="pull-right" ng-show="vm.post.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="posts.edit({ postId: vm.post._id })">
      <i class="glyphicon glyphicon-edit">edit</i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash">delete</i>
    </a>
  </div>
  <p class="lead" ng-bind="vm.post.content"></p>
</section>
