<div data-ng-controller="AuthenticationController" class="wrap top signup">
  <h3 class="col col-1 text-center">SIGN UP</h3>
  <div class="col col-1 text-center">
    <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label class="hidden" for="firstName">First Name</label>
          <input type="text" required id="firstName" name="firstName" class="form-control"
               data-ng-model="credentials.firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label class="hidden" for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control"
               data-ng-model="credentials.lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label class="hidden" for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email"
               placeholder="Email">
        </div>
        <div class="form-group">
          <label class="hidden" for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control"
               data-ng-model="credentials.username" placeholder="Username">
        </div>
        <div class="form-group">
          <label class="hidden" for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control"
               data-ng-model="credentials.password" placeholder="Password">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="signin-btn">Sign up</button>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div>
