<div data-ng-controller="AuthenticationController" class="wrap top">
  <h3 class="col col-1 text-center">SIGN IN</h3>
  <div class="col-1">
    <form data-ng-submit="signin()" class="row" autocomplete="off">
      <fieldset class="col col-1 text-center">
          <label class="text-center hidden" for="username">Username</label>
          <input type="text" placeholder="username" id="username" name="username" class=""
               data-ng-model="credentials.username" placeholder="Username">
          <label for="password" class="hidden">Password</label>
          <input type="password" placeholder="password" id="password" name="password" class=""
               data-ng-model="credentials.password" placeholder="Password">
        <div class="text-center signin">
          <button type="submit" class="signin-btn">Sign in</button>
        </div>
        <div class="text-center forgot-password">
          <a data-ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <alert type="danger" data-ng-show="error" class="text-center text-danger">
          <span data-ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</div>
