section.contact
  .feed.active
    display: block
  .feed.notActive
    display: none
  iframe
    margin-top: 10px
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3)
  padding: 25px 0
  .contact-info
    .address
      address
        font-size: 16px
  .sideBar
    background-color: #fff
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3)
    padding: 20px
    margin-bottom: 10px
    .article
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3)
      box-sizing: border-box
      padding: 10px 10px
      background-color: lighten($primary, 70%)
      margin-bottom: 10px
    form
      input
        display: block
        width: 100%
        margin: 10px 0
        height: 30px
        border: 1px solid $primary
        padding: 10px
        box-sizing: border-box
        color: $primary
      textarea
        display: block
        min-height: 60px
        width: 100%
        margin-bottom: 10px
        border: 1px solid $primary
        padding: 10px
        box-sizing: border-box
        color: $primary
      button
        background-color: $primary
        color: white
        width: 100%
        transition: 0.3s all ease-in-out
        &:hover
          background: white
          color: $primary
  .sideBar.social
    padding: 0
    .col
      margin: 0
    .tabs
      .tab
        text-align: center
        background-color: $primary
        height: 100%
        z-index: 0
        width: 50%

        h4
          color: white
        &.active
          background-color: lighten($primary, 20%)
          box-shadow: 3px 0px 5px 0px rgba(255,255,255,0.5);
          z-index: 1
          .feed
            display: block
