.newsletter
  background-color: #121331
  height: 240px
  padding: 65px 0
  color: white
  .grid-wrap
    align-items: center
    height: inherit
    .col
      text-align: center
      h2
        margin-bottom: 5px
      h5
        margin-top: 0
      input
        border-radius: 5px
        border: none
        height: 30px
        width: 240px
        padding: 10px
        margin-right: 20px
        transition: all 0.3s ease-in-out
        &:focus
          border-radius: 0
