header
  .hero
    .container
      .justify
        .grid-wrap
          .col.col-3
            h1 focus on what matters
        .grid-wrap
          .col.col-3
            button sign-up
            span OnePlus 5 Launch | June 20 12:00pm EDT
