nav
  .container
    .nav
      .logo
        img(src="http://via.placeholder.com/250x55")
      ul
        li
          a.new(href="#") Phone
        li
          a(href="#") Accessories
        li
          a(href="#") Community
        li
          a(href="#") Support
        li
          a(href="#")
            img(src="http://via.placeholder.com/55x55")
        li
          a(href="#")
            img(src="http://via.placeholder.com/55x55")
