* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7e7e9;
  font-size: 12px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #a0a0a2;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover, .button:active, .button:focus, button:hover, button:active, button:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #40a6ff;
}

::-moz-selection {
  background: #8080b6;
}

::selection {
  background: #8080b6;
}

::-moz-selection {
  background: #8080b6;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

.gigantic, .huge, .large, .bigger, .big, h1, h2, h3, h4, h5, h6 {
  color: #141423;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
  color: #606060;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  margin-bottom: 5px;
  margin-left: 5px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: calc(50% - 5px);
}

.col-3 {
  width: calc(33.33% - 5px);
}

.col-4 {
  width: calc(25% - 5px);
}

.col-5 {
  width: calc(20% - 5px);
}

.col-6 {
  width: calc(16.667% - 5px);
}

.col-7 {
  width: calc(14.28% - 5px);
}

.col-8 {
  width: calc(12.5% - 5px);
}

.col-9 {
  width: calc(11.11% - 5px);
}

.col-10 {
  width: calc(10% - 5px);
}

.col-11 {
  width: calc(9.09% - 5px);
}

.col-12 {
  width: calc(8.33% - 5px);
}

@media (max-width: 460px) {
  .col {
    width: 100%;
  }
}

.wrap {
  min-width: 320px;
  max-width: 1111px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

header {
  border-bottom: 1px solid #43434f;
  background-color: #141423;
}

header .left {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}

header .left .logo img {
  width: 100%;
}

header .right {
  display: inline-block;
  float: right;
  margin-top: 50px;
  color: #fff;
  margin-bottom: 50px;
}

header .right .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .right .social .GP, header .right .social .FB, header .right .social .TW {
  width: 40px;
  height: 40px;
}

header .right .social .GP {
  background-color: #ff0000;
  background-image: url(../img/gplus.png);
  background-size: cover;
  background-position: center;
}

header .right .social .FB {
  background-color: #0054a6;
  background-image: url(../img/facebook.png);
  background-size: cover;
  background-position: center;
}

header .right .social .TW {
  background-color: #6dcff6;
  background-image: url(../img/twitter.png);
  background-size: cover;
  background-position: center;
}

header .right .social .follow {
  height: 40px;
  border-radius: 0;
  color: #fff;
  border: none;
  width: 150px;
  background: #6945a0;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .right .social .follow:hover {
  background-color: #fff;
  color: #6945a0;
}

header .right .search {
  margin-left: 20px;
  border: 1px solid #43434f;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-image: url(../img/search.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.sign_nav {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
}

.sign-up {
  margin-left: 20px
}

section.list .article {
  background-color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  cursor: pointer;
  margin: 50px 0;
}

.width-override-post {
  width: 60%;
}

.sideBar {
  background-color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
}

.hidden {
  display: none;
}

.user li {
  list-style: none;
}

.header-profile-image {
  width: 40px;
  height: 40px;
}

.user_panel ul li {
  display: inline-block;
}

section.nav {
  height: 200px;
  border-bottom: 1px solid #43434f;
  position: relative;
  text-transform: capitalize;
}

section.nav nav.catogories {
  position: absolute;
  bottom: 26px;
}

section.nav nav.catogories ul li {
  list-style: none;
  display: inline;
  margin-right: 40px;
}

section.nav nav.catogories ul li a.weights {
  border-bottom: 4px solid #ff2d56;
}

section.nav nav.catogories ul li a.stamina {
  border-bottom: 4px solid #3c99dc;
}

section.nav nav.catogories ul li a.sport {
  border-bottom: 4px solid #31bb7e;
}

section.nav nav.catogories ul li a {
  font-size: 28px;
  color: #fff;
  padding-bottom: 24px;
  margin-left: 41px;
  text-align: center;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

section.nav nav.catogories ul li a:hover {
  padding-bottom: 0px;
}

section.nav nav.catogories ul li a.weights:hover {
  color: #ff2d56;
}

section.nav nav.catogories ul li a.stamina:hover {
  color: #3c99dc;
}

section.nav nav.catogories ul li a.sport:hover {
  color: #31bb7e;
}

section.nav nav.main {
  position: absolute;
  bottom: 26px;
  right: -25px;
}

section.nav nav.main ul {
  width: 456px;
}

section.nav nav.main ul li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}

section.nav nav.main ul li a {
  color: #fff;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

fieldset {
  border: none;
}

.create-post input, .create-post textarea, .create-post select, .create-post button {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.create-post textarea {
  height: 200px;
}

.create-post select {
  height: 37px;
}

.create-post button {
  padding: 0;
}


footer{
  background: #d1d1d5;
  padding-top: 50px;
  padding-bottom: 250px;
  margin-top: 20px;
}
footer .logo {
    float: left;
}
footer nav.footer {
    margin-left: 100px;
}
footer nav.footer ul li {
    display: inline;
}
footer nav.footer ul li a {
    margin-right: 30px;
    color: #141423;
    text-decoration: underline;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
footer nav.footer p {
    margin-top: 20px;
}


img {
    border-style: none;
}


.fourOfour{
  text-align: center;
}
.fourOfour h1{
  margin-bottom: 0;
}
.fourOfour button{
  width: 50%;
  margin-top: 20px;
}

.sub-page{
  text-align: center;
}
.sub-page h1{
  color: white;
  margin: 0;
  padding: 30px;

}

.sub-page .pod{
  padding: 10px;
background-color: #fff;
box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
width: 50%;
text-align: center;
margin: 20px auto;
}
.text-center{
  text-align: center;
}


#username, #password, #firstName, #lastName, #email{
  width: 30%;
  height: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.hidden{
  display: none;
}
.signin{
  margin-top: 20px;
}
.signin-btn{
  background-color: #43434f;
  color: white;
  transition: all 0.2s ease-in-out;

}
.signin-btn:hover{
  color: white;
  background-color: #727279;
}
input{
  background-color: #43434f;
  margin: 10px 0;
}
input:-webkit{
  -webkit-box-shadow: 0 0 0 1000px #43434f inset !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #43434f inset !important;
    -webkit-text-fill-color: white !important;
}


.top{
  margin-top: 30px
}
.signup input{
  width: 50% !important;
}
