section.second_pods
  .wrap
    .row
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.weights-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.stamina-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.sport-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.weights-BG
    .row
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.stamina-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.sport-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.weights-BG
      .col.three.pod
        h4
          a(href="#") Increase your PB with a few steps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .tags
          a(href="#") link
          a(href="#") link
        .small-cta.weights-BG
        
