section.second_pods
  .pod
    h4
      a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .tags
      a(href="#") link
      a(href="#") link
    .small-cta.weights-BG
  .pod
    h4
      a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .tags
      a(href="#") link
      a(href="#") link
    .small-cta.weights-BG
  .pod
    h4
      a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .tags
      a(href="#") link
      a(href="#") link
    .small-cta.weights-BG
  .pod
    h4
      a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .tags
      a(href="#") link
      a(href="#") link
    .small-cta.weights-BG
  .pod
    h4
      a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .tags
      a(href="#") link
      a(href="#") link
    .small-cta.weights-BG
  .pod
    h4
      a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .tags
      a(href="#") link
      a(href="#") link
    .small-cta.weights-BG
  .pod
    h4
      a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .tags
      a(href="#") link
      a(href="#") link
    .small-cta.weights-BG
  .pod
    h4
      a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .tags
      a(href="#") link
      a(href="#") link
    .small-cta.weights-BG
