$main: #f27557
$grey: #4b4b4b
*
  margin: 0
  padding: 0s
  font-family: helvetica

@font-face
  font-family: sixcaps
  src: url(media/font/SixCaps.ttf)
@font-face
  font-family: helvetica
  src: url(media/font/helvetica.ttf)
body
  background-color: $main
section.slanted
  position: relative
  height: 570px
  margin-bottom: 700px
  display: flex
  &::before
    content: ''
    position: absolute
    z-index: -1
    width: 100%
    height: 180%
    background: #4b4b4b
    top: 0px
    transform: skewY(-12deg)
@import "include/hero"
@import "include/video"
@import "include/info"
@import "include/taylored"
@import "include/contact"
@import "include/footer"
