footer
  .container
    .grid-wrap
      .col.col-3
        2017 all rights reserved
      .col.col-3
        a(href="tel:555-555-555") 555-555-555
        span 4am - 10pm EDT Mon-Fri
      .col.col-3
        img(src="http://via.placeholder.com/40x40")
        img(src="http://via.placeholder.com/40x40")
        img(src="http://via.placeholder.com/40x40")
        img(src="http://via.placeholder.com/40x40")
