section
  .footer-links
    .container
      .grid-wrap
        .col.col-4
          ul
            li
              h3 Phone
            li
              a(href="#") lorem
            li
              a(href="#") lorem
            li
              a(href="#") lorem
            li
              a(href="#") lorem
              
        .col.col-4  
          ul
            li
              h3 Acessories
            li
              a(href="#") lorem
            li
              a(href="#") lorem
            li
              a(href="#") lorem
            li
              a(href="#") lorem
          
        .col.col-4
          ul
            li
              h3 Support
            li
              a(href="#") lorem
            li
              a(href="#") lorem
            li
              a(href="#") lorem
            li
              a(href="#") lorem
        .col.col-4
          
          ul
            li
              h3 Company
            li
              a(href="#") lorem
            li
              a(href="#") lorem
            li
              a(href="#") lorem
            li
              a(href="#") lorem
