section.nav
  .wrap
    nav.catogories
        ul
          li
            a.weights(href="#") weights
          li
            a.stamina(href="#") stamina
          li
            a.sport(href="#") sport
    nav.main
        ul
          li
            a.weights(href="#") Home
          li
            a.stamina(href="#") About
          li
            a.sport(href="#") Articles
          li
            a.sport(href="#") FAQs
          li
            a.sport(href="#") Contact
