header
  .hero
    height: 590px
    color: white
    width: inherit
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-image: url(http://cdn.playbuzz.com/cdn/925704be-9b8e-4dfc-852e-f24d720cb9c5/bcf39e88-5731-43bb-9d4b-e5b3b2b1fdf2.jpg)
    .justify
      display: flex
      height: inherit
      flex-flow: column
      justify-content: center
      h1
        font-size: 72px
        margin-bottom: 10px
        text-transform: uppercase
      span
        font-size: 12px
