nav
  height: 85px
  .nav
    display: flex
    height: inherit
    justify-content: space-between
    align-items: center

    ul
      display: flex
      list-style: none
      justify-content: space-between
      width: 60%
      height: 30px
      align-items: center
      li
